.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  max-width: 30%;
}
.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.rem{
  border-bottom: 2px solid;
}

.amount{
  font-size: 150%;
}

.inv{
  font-size: 125%;
}

.highlight{
  background-color: yellow;
}
