* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Heading image */
.payImg{
  max-width: 100%;
}

/* Wrapper and body styling*/
.wrapper{
  background-image: linear-gradient(to bottom right, rgb(214, 4, 179), rgb(143, 3, 136));
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*pagination styling */
.pagination {
  margin-top: 25px;
  background-color: white;

}

.pagination span {
cursor: pointer;
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
}

span:active {
  background-color: rgb(141, 3, 95);
  color: white;
  border: 1px solid rgb(141, 3, 95);
}


span:hover, span:focus{
  background-color: rgb(141, 3, 95);
  border: 1px solid rgb(141, 3, 95);
}

